body {
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYX6_jJxvMpDeinBiHBPM-AkU_79keJr6AC-a7UdeK5BCn9gXpKg"); */
    /* background-image: url('Beach.jpg'); */
    background-image: url('Water_and_Hut.jpg');
    /* background-image: url('beach-children-footprint-6551.jpg'); */
    /* opacity: 0.2; */
    /* background-color: ; */
    background-repeat: no-repeat;
    background-size: cover;
   }

  .months {
    font-family: Arial, Helvetica, sans-serif;
      font-size: 2vw;
      font-weight: bolder;
      display: flex;
      justify-content: space-around;
      padding-left: 5vw;
      padding-right: 5vw;
      padding-bottom: 0;
      margin-top: 13vh;
      border-bottom: blue;
      margin-bottom: 0;
  }

.current_month {
    /* text-decoration-line: underline; */
}

.next_month {
    /* text-decoration-line: underline; */
    /* border-bottom-style:dashed; */
}

.two_months_out {
    /* text-decoration: underline; */
}

.dateinfo{
    /* text-decoration: none; */
    /* padding-top: none;
    font-size: 1vw;
    margin-top: 0;
    font-weight: normal; */
}

.data {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: none;
    font-size: 2vw;
    margin-top: 0;
    font-weight: normal;
}
/* .current_month_list {
    text-decoration-line: none;
    text-decoration: none;
} */

.addButton {
    background-color: black; /* Green */
    border: none;
    border-radius: 12px;
    color: white;
    padding: 2vh 3vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    margin-bottom: 2vh;
  }

  .adminButton {
    background-color: black; /* Green */
    border: none;
    border-radius: 12px;
    color: white;
    padding: 2vh 3vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
  }

.restrictedNotice {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    text-align: center;
    padding-top: 8vh;
    font-style: italic;
    padding-bottom: 3vh;
}

.sto_listing {
    font-weight:lighter;
}