.inputLabel{
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 30vw; */
    text-align: right;
}

.inputBox {
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 20vw; */
    align-content: left;
    margin-bottom: 2vh;
    margin-left: 3vw;
    margin-right: 30vw;
    justify-content: left;
    border: darkgreen;

}

.subHeading {
    margin-top: 12vh;
    margin-bottom: 5vh;     
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

.appHeading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    color: white;
    /* font-size: 4vw; */
    text-align: center;
    padding-bottom: 5vh;
    padding-top: 5vh;
    background-color: black;
}  

.button_choices {
    padding-top: 10vh;
    display: flex; 
    justify-content: space-evenly;

}

.bigButton button {
    margin-top: 3vh;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
    background-color: black; 
    border: none;
    border-radius: 12px;
    color: white;
    width: 40vw; 
    height: 5vh;
    padding-left: 3vw;
    margin-left: 30vw;
    text-decoration: none; 
}

.big:active {
    border-color: green;
    background: green;
    text-decoration: none;
}

.big:hover {
    color:green;
    /* border-color: yellow; */
    background-color: white;
    text-decoration: none;
}

/* .big::-moz-focus-inner {
    border: none;
  } */

  .big {
    /* ... */
    /* all browsers: remove the default outline since
        we are rolling our own focus styles */
    outline: none;
    text-decoration: none;
  }

  a {
    color: none;
    text-decoration: none;
  }