/* body {
    background-image: './src/images/Beach-holiday-vacation-caribbean_(23696591474).jpg'
} */

.inputLabel{
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 30vw; */
    text-align: right;
    margin-left: 30vw;
}

#emp_id {
    margin-left: 1vw;
}

#end_date_delete {
    /* margin-left: 1vw; */
}

.inputCheckbox {
    text-align: left;
    padding-left: 0;
    display: flex;
}

.labelAdminCheck {
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: left; 
    color: black;
    margin-left: 40vw;
    padding-left: 0;
    margin-left: 15.5vw;
    margin-top: 1vh;
    padding-left: 33vw;
    vertical-align: text-bottom; 
}

.adminCheckbox {
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left; 
    margin-left: 33vw;
    padding-right: 0;
    /* width: 5vw; */
} 

#deactiveChk {
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left; 
    margin-left: 3vw;
    padding-right: 0;
    transform: scale(2.5);
}

.deactiveCheckbox { 
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: left; 
    margin-left: 32vw;
    padding-right: 0; 
    /* width: 5vw; */
} 

#adminChk {
    /* font-size: 42vw; */
    /* width: 6vw;
    height: 6vh; */
    /* color: red; */
    /* text-align: right; */
    vertical-align: text-top;
    /* position: relative; */
    /* top: -1px; */
    /* overflow: hidden; */
    margin-left: 3.2vw;
    margin-top: 0vh;

    transform: scale(2.5);
    
}

#deactiveChk {
    font-size: 42vw;
    /* width: 6vw;
    height: 6vh; */
    color: red;
    text-align: left;
}

.inputBox {
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 20vw; */
    align-content: left;
    margin-bottom: 2vh;
    margin-left: 3vw;
    margin-right: 30vw;
    justify-content: left;
    border: darkgreen;
}

.subHeading {
    margin-top: 12vh;
    margin-bottom: 4vh;     
    font-size: 3vw;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;

}

.appHeading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    color: black;
    font-weight: bolder;
    /* font-size: 4vw; */
    text-align: center;
    padding-bottom: 3vh;
    padding-top: 3vh;
    /* opacity: 0.5; */
    /* background-color:cornflowerblue; */
}  

.button_choices {
    padding-top: 8vh;
    display: flex; 
    justify-content: space-evenly;
}

.bigButton button {
    margin-top: 3vh;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
    background-color: darkturquoise; 
    border: black;
    border-bottom-style: solid;
    border-radius: 12px;
    color: white;
    width: 40vw; 
    height: 5vh;
    padding-left: 3vw;
    margin-left: 30vw;
    text-decoration: none; 
}

.big:active {
    border-color: green;
    background: green;
    text-decoration: none;
}

.big:hover {
    color:green;
    /* border-color: yellow; */
    background-color: white;
    text-decoration: none;
}

  .big {
    /* ... */
    /* all browsers: remove the default outline since
        we are rolling our own focus styles */
    outline: none;
    text-decoration: none;
  }

  a {
    color: none;
    text-decoration: none;
  }

.instructions {

    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: black;
    text-align: center;
    font-style: italic;
    margin-bottom: 3vh;
}

  #addStatus{
      /* margin-bottom: 3vh; */
      font-size: 2vw;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 900;
      color: red;
      background-color: yellow;
      animation-name: blinkingText;
      animation-iteration-count: 10;    
      animation-duration: .8s;
      animation-delay: 2s;
      /* margin-top: -50vh; */
      /* z-index: 100;   */
  }

  #addSTOStatus{
    /* margin-bottom: 3vh; */
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: red;
    background-color: yellow;
    animation-name: blinkingText;
    animation-iteration-count: 10;    
    animation-duration: .8s;
    animation-delay: 2s;
    /* margin-top: -50vh; */
    /* z-index: 100;   */
} 

#PasswordChangeStatus {

    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: red;
    background-color: yellow;

}

#addBlockedStatus{
    /* margin-bottom: 3vh; */
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: red;
    background-color: yellow;
    animation-name: blinkingText;
    animation-iteration-count: 10;    
    animation-duration: .8s;
    animation-delay: 2s;
    /* margin-top: -50vh; */
    /* z-index: 100;   */
} 

#addEventStatus{
    /* margin-bottom: 3vh; */
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: red;
    background-color: yellow;
    animation-name: blinkingText;
    animation-iteration-count: 10;    
    animation-duration: .8s;
    animation-delay: 2s;
    /* margin-top: -50vh; */
    /* z-index: 100;   */
}

#addEmpUpdateStatus {
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: red;
    background-color: yellow;
    /* animation-name: blinkingText;
    animation-iteration-count: 10;    
    animation-duration: .8s;
    animation-delay: 2s; */
}

#deleteSTOStatus {
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: red;
    background-color: yellow;
}

#addEmpUpdateNote {
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: italic;
    margin-top: 1vh;
    color: red;
}

  @keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

#for_name {
    font-size: 2vw;
    text-align: left;
    margin-left: 42vw;
    margin-bottom: 1.5vh;
}

#revName{
    display: none;
}

#revInitials{
    display: none;
}

#curInitials {
    display: none;
}

#chkDeactivate {
    display: none;
}

#chkAdmin {
    display: none;
}

#submitButton {
    display: none;
}
/* #empUpdateInstructions {
    display: block;
} */

.months {
    font-family: Arial, Helvetica, sans-serif;
      font-size: 2vw;
      font-weight: bolder;
      display: flex;
      justify-content: space-around;
      padding-left: 5vw;
      padding-right: 5vw;
      padding-bottom: 0;
      margin-top: 13vh;
      border-bottom: blue;
      margin-bottom: 0;
  }

  .restrictedNotice {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    padding-top: 8vh;
    font-style: italic;
    padding-bottom: 3vh;
}


body {
    background-image: url('Water_and_Hut.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   }

@media screen and (max-width: 700px) {

    .bigButton button {
        margin-top: 3vh;
        font-size: 2.5vw;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-content: center;
        background-color: darkturquoise; 
        border: black;
        border-bottom-style: solid;
        border-radius: 12px;
        color: white;
        width: 40vw; 
        height: 5vh;
        padding-left: 3vw;
        margin-left: 30vw;
        text-decoration: none; 
    }

    .inputBox {
        font-size: 2.5vw;
        font-family: Arial, Helvetica, sans-serif;
        /* width: 20vw; */
        align-content: left;
        margin-bottom: 2vh;
        margin-left: 3vw;
        margin-right: 30vw;
        justify-content: left;
        border: darkgreen;
    }

    .inputLabel{
        font-size: 2.9vw;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        /* margin-left: 30vw; */
        text-align: right;
        margin-left: 20vw;
    }

    .labelAdminCheck {
        font-size: 2.9vw;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        text-align: left; 
        color: black;
        padding-left: 0;
        margin-left: 15.5vw;
        margin-top: 1vh;
        padding-left: 20vw;
        vertical-align: text-bottom; 
    }

    #adminChk {
        vertical-align: text-top;
        margin-left: 3.2vw;
        margin-top: 0vh;
        transform: scale(1.7);
        
    }

    .adminCheckbox {
        font-size: 2.9vw;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-left: 20vw;
    }

    .months {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.9vw;
        font-weight: bolder;
        display: flex;
        justify-content: space-around;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 0;
        margin-top: 13vh;
        border-bottom: blue;
        margin-bottom: 0;
    }

    .restrictedNotice {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.5vw;
        font-weight: bold;
        text-align: center;
        padding-top: 8vh;
        font-style: italic;
        padding-bottom: 3vh;
    }

    .subHeading {
        margin-top: 4vh;
        margin-bottom: 4vh;     
        font-size: 3vw;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        text-decoration: underline;
    
    }

    body {
        /* background-image: url('Beach.jpg'); */
        /* background-image: url('beachchair.jpg'); */
        background-image: url('beach-children-footprint-6551.jpg');
        background-repeat: no-repeat;
        background-size: cover;
       }

       .appHeading {
        padding-top: 5.5vh;
    }

  }