$font_family: Arial, Helvetica, sans-serif;


.appHeading {
    font-family: $font_family;
    font-size: 4vw;
    color: black;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 3vh;
    padding-top: 3vh;
}  

.subHeading {
    margin-top: 12vh;
    margin-bottom: 4vh;     
    font-size: 3vw;
    font-weight: bold;
    font-family: $font_family;
    text-align: center;
    text-decoration: underline;
}

.inputLabel{
    font-size: 2vw;
    font-family: $font_family;
    text-align: right;
    margin-left: 30vw;
}

#emp_id {
    margin-left: 1vw;
}

.inputCheckbox {
    text-align: left;
    padding-left: 0;
    display: flex;
}

.labelAdminCheck {
    font-size: 1vw;
    font-family: $font_family;
    font-style: italic;
    text-align: left; 
    color: black;
    margin-left: 40vw;
    padding-left: 0;
    margin-left: 15.5vw;
    margin-top: 1vh;
    padding-left: 33vw;
    vertical-align: text-bottom; 
}

.adminCheckbox {
    font-size: 2vw;
    font-family: $font_family;
    text-align: left; 
    margin-left: 33vw;
    padding-right: 0
} 

#deactiveChk {
    // font-size: 2vw;
    // font-family: $font_family;
    // text-align: left; 
    @extend .adminCheckbox;
    margin-left: 3vw;
    padding-right: 0;
    transform: scale(2.5);

}

#adminChk {
    vertical-align: text-top;
    margin-left: 3.2vw;
    margin-top: 0vh;
    transform: scale(2.5);
    
}

.deactiveCheckbox { 
    font-size: 2vw;
    font-family: $font_family; 
    text-align: left; 
    margin-left: 38vw;
    padding-right: 0; 
} 

.inputBox {
    font-size: 2vw;
    font-family: $font_family;
    align-content: left;
    margin-bottom: 2vh;
    margin-left: 3vw;
    margin-right: 30vw;
    justify-content: left;
    border: darkgreen;
}

  a {
    color: none;
    text-decoration: none;
  }

.instructions {
    font-size: 1.5vw;
    font-family: $font_family;
    font-weight: 900;
    color: black;
    text-align: center;
    font-style: italic;
    margin-bottom: 3vh;
}

#passwordInfo {
    margin-left: 38vw;
    margin-bottom: 1vh;
    font-size: 2vw;
    font-weight: bold;
    font-family: $font_family;
    text-align: left;
    text-decoration: underline;
}

#addEmpUpdateNote {
    font-size: 1.5vw;
    font-family: $font_family;
    font-weight: 900;
    font-style: italic;
    margin-top: 1vh;
    color: red;
}

#for_name {
    font-size: 2vw;
    text-align: left;
    margin-left: 42vw;
    margin-bottom: 1.5vh;
}

#revName{
    display: none;
}

#revInitials{
    display: none;
}

#curInitials {
    display: none;
}

#chkDeactivate {
    display: none;
}

#chkAdmin {
    display: none;
}

#submitButton {
    display: none;
}

.months {
    font-family: $font_family;
    font-size: 2vw;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    padding-left: 5vw;
    padding-right: 5vw;
    // margin-top: 13vh;
    width: 70vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-bottom: blue;
    // background-color: rgba(162, 226, 220, 0.05);
    background: rgba(255, 255, 255, 0.4);
    // color:aquamarine
    border-radius: 25px;
}

.restrictedNotice {
    font-family: $font_family;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    // padding-top: 8vh;
    margin-top: 4vh;
    margin-left: 10vw;
    padding-top: 1.5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-right: 10vw;
    background: rgba(255, 255, 255, 0.4);
    font-style: italic;
    width: 70vw;
    content-align: center;
    // padding-bottom: 3vh;
    height: 5vh;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
}

body {
    background-image: url('Water_and_Hut.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#current_month p, #next_month p, #two_months_out p{ 
    font-weight: normal; 
}

/*================================*/
/*      STATUS MESSAGES */
/*================================*/
@mixin statusFormat() {
    font-size: 2vw;
    font-family: $font_family;
    font-weight: 900;
    color: red;
    background-color: rgb(189, 222, 243);
    text-align: center;
}

#updateEmployeeStatusMsg {
    @include statusFormat();
}

#addSTOStatusMsg{
    @extend #updateEmployeeStatusMsg;
} 

#changeEmployeePasswordStatusMsg {
    @extend #updateEmployeeStatusMsg;
}

#addBlockedStatusMsg{
    @extend #updateEmployeeStatusMsg;
} 

#addEventStatusMsg{
    @extend #updateEmployeeStatusMsg;
}

#addEmployeeStatusMsg {
    @extend #updateEmployeeStatusMsg;
}

#deleteSTOStatusMsg {
    @extend #updateEmployeeStatusMsg;
}

#loginStatusMsg {
    @extend #updateEmployeeStatusMsg;
}

/*================================*/
/* BUTTON FORMATTING */
/*================================*/
$button-color: darkturquoise;
$button-border: teal;

@mixin buttonFormat() {
    background-color: $button-color; 
    border: $button-border;
    border-bottom-style: solid;
    border-radius: 12px;
    color: white;
    font-size: 2vw;
    font-family: $font_family;
    text-decoration: none;
}

.bigButton button {
    @include buttonFormat();
    margin-top: 3vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
    width: 40vw; 
    height: 5vh;
    padding-left: 3vw;
    margin-left: 30vw;
}

.big:active {
    border-color: green;
    background: green;
    text-decoration: none;
}

button:hover {
    color:green;
    background-color: white;
    text-decoration: none;
}

.big {
    /* all browsers: remove the default outline since
        we are rolling our own focus styles */
    outline: none;
    text-decoration: none;
}

.addButton {
    @include buttonFormat();
    padding: 1vh 3vw;
    text-align: center;
    margin-bottom: 2vh;
    display: inline-block;
}

.adminButton {
    @include buttonFormat(); 
    padding: 1vh 3vw;
    text-align: center; 
    margin-bottom: 2vh;
    display: block;
}

.button_choices {
    padding-top: 8vh;
    display: flex; 
    justify-content: space-evenly;
}

/*================================*/
        /* MEDIA */
/*================================*/

@media screen and (max-width: 700px) {
    .bigButton button {
        font-size: 2.9vw;
    }
    .adminButton {
        font-size: 2.7vw;
    }

#addSTOStatus, #PasswordChangeStatus, #addEventStatus, #addBlockedStatus, #deleteSTOStatus {
    font-size: 2.6vw;
}

.subHeading {
    margin-top: 4vh;
}

.inputBox {
    font-size: 2.7vw;
}

.inputLabel{
    font-size: 2.9vw;
    font-weight: bold;
    margin-left: 20vw;
}

.labelAdminCheck {
    font-size: 2.9vw;
    margin-left: 15.5vw;
    padding-left: 20vw;
}

#adminChk {
    vertical-align: text-top;
    margin-left: 3.2vw;
    margin-top: 0vh;
    transform: scale(1.7);
    
}

#deactiveChk {
    font-size: 2.9vw;
    transform: scale(1.7);
}

.deactiveCheckbox { 
    font-size: 2.9vw;
    font-weight: bold;
    margin-left: 27vw;
} 

.adminCheckbox {
    font-size: 2.9vw;
    font-weight: bold;
    margin-left: 18.5vw;
}

.months {
    font-size: 2.9vw;
    font-weight: lighter;
}

body {
    background-image: url('MountainLakeDock.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }

.appHeading {
    padding-top: 5.5vh;
    margin-top: 5vh;
}

#chkDeactivate {
margin-top: 2vh;
}

.labelAdminCheck {
margin-left: 22vw;
margin-top: 1vh;
}

#addEmpUpdateNote {
font-size: 2.4vw;
font-family: $font_family;
font-weight: 900;
font-style: italic;
margin-top: 1vh;
color: black;
background-color: darkturquoise;
}

#passwordInfo {
margin-left: 26vw;
margin-bottom: 1vh;
font-size: 2.6vw;
font-weight: bold;
font-family: $font_family; 
text-decoration: underline;   
}

.instructions {
font-size: 2.6vw;
text-align: center;
font-style: italic;
margin-bottom: 3vh;
}

#current_month, #next_month, #two_months_out{
font-weight: bold;
}

#current_month p, #next_month p, #two_months_out p{ 
font-weight: normal; 
}

.restrictedNotice {
    font-size: 2.9vw;
    color: black;
    padding-top: 4vh;
}

}